body {
    font-size: 17px;
    font-weight: 400;
}

.slider-con {
    width: 100%;
    /* top:70px; */
    left: 0px;
    position: relative;
    clip-path:url(#myClipSlider);
}
.carousel {
    position: static !important;
}
.carousel-inner {
    height: 550px;

}


.carousel-caption {
    top: 20px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 70%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    padding-top: 100px;
}
.carousel-caption h3 {
    font-size: 4em;
    font-weight: 900;
    color:#ecba4a;

}
.carousel-caption p {
    font-size: 24px;
    font-weight: bolder;
}
.carousel-caption p span {
    color: #ecba4a;
    font-weight: 700;
}

/* Visions Sections */

.v-con {
    background-color: #f9f7f6;
    padding-top: 50px;
}
.section-h {
    font-size: 700;
    text-align: center;
}
.section-h h4 {
    text-transform: uppercase;
    font-size: 15px;
    color: #240a48;
    font-weight: 700;
    letter-spacing: 5px;
}
.section-h h2 {
    font-size: 30px;
    font-weight: 700;
}

.f-p-s{
    margin-top:50px;
    background: #f7f7f7;
    position: relative;
    z-index:1;
    padding:50px 10px;
}
.header-1{
    position: relative;
    margin-bottom:20px;
}
.header-1 h4 {
    text-transform: uppercase;
    font-size: 15px;
    color: #240a48;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 20px;
    padding-left: 10px;
}
.header-1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: 0px;
    z-index: -1;
    background: #b2bbdc;
    opacity:0.5
}
.header-1::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: 12px;
    z-index: -1;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: #b2bbdc;
    top: -14px;
    left: 32px;
    opacity:0.5
}

.vision {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #ccc;
    text-align: center;
    background: white;
    position: relative;
}

.vision .icon {
    padding: 20px;
}

.vision h4 {
    color: #240a48;
    font-weight: 700;
}

.vision::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 0px;
    height: 77px;
    width: 28px;
    background: #f9f7f6;
    border-bottom-right-radius: 50px;
}



.book-card{
    background:#fff;
    padding:10px;
    width:300px;
    position: relative;
    height: 300px;
    border-radius:10px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    box-shadow:0px 25px 25px rgba(0, 0, 0, 0.2)

}
.book-card button{
    float:right
}
.book-card img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    object-fit: contain;
    height:100%;
}
.book-card span{
    font-weight: 700;
    color:#320177;
}

.book-link img{
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.book-link:hover{
    text-decoration: none;
    
}

.book-link:hover img{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);



}
.book-card .details{
    background:#f9f9fb;
    padding: 30px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    transform:translateY(-20px);
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    -o-transform:translateY(-20px);
    position:relative;
    /* box-shadow:0px 25px 25px rgba(0, 0, 0, 0.2) */
}
.book-card h4{
    font-weight:14px;
    /* list-style: height 30px; */
    color:#716e75
}

.card-header{
    background: #320177;
    color:white;
}


.u-s{
 margin-top:50px;

}

.upcomming-card{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background:#fff;
    padding:10px;
    position: relative;  
    cursor:pointer;
    height:350px
}
.upcomming-card .img{
    height:70%;
}
.upcomming-card .details{
    background:#320177;
    color:white;
    width: 80%;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateY(-37px);
    -webkit-transform: translateY(-37px);
    -moz-transform: translateY(-37px);
    -ms-transform: translateY(-37px);
    -o-transform: translateY(-37px);
}

.upcomming-card .date{
    position: absolute;
    top:15px;
    right:15px;
    background:#ecba4a;
    padding:10px;
    text-align: center;

}

.upcomming-card .date h4{
    font-weight:700
}

.upcomming-card .date span{
    position: relative;
    display: block;
    margin-top: -10px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
.upcomming-card h3{
    font-size:14px;
    text-transform: uppercase;
    color:#ecba4a;
    text-decoration: underline;
}
.upcomming-card img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height:100%;
    object-fit: cover;
}


.page-footer{
    background:rgb(0, 21, 36);;
    color: rgba(255, 255, 255, 0.63);
    padding:80px 10px;
    clip-path:url(#myClip);
    height:300px;
}

.page-footer ul{
    margin: 0px;
    padding:0px;
}


.page-footer h4{
    color:rgba(236, 185, 74, 0.843);
    font-size:16px;
    font-weight: 700;
    
}

.page-footer p{
    line-height: 25px;
    font-size: 100%;
}
.page-footer .socials{
    font-size:16px;
}
.page-footer .socials i{
    
    padding-right:20px;
}

 li{
 list-style: none;

}


.page-footer a{
    color:inherit;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}

.page-footer a:hover{
    color:rgba(236, 185, 74, 0.843);
    margin-left: 5px;
    text-decoration: none;
}



.footer-copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.63);
}
.nav-bar-mobile {
    padding:0px 10px;
    background: #240a48;
    height:70px;
}
.nav-bar-mobile .left h4{
        color:white;
        line-height: 70px;
        font-family: "Montserrat",sans-serif;
        font-weight: 900;
}

.nav-bar-mobile .right{
    /* float:right; */
    position: absolute;
    margin-top: 16px;
    right:15px;
    cursor: pointer;
    z-index: 999;
}


.nav-bar-mobile .right span{
    display:block;
    height:5px;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    width:50px;
    background:white;
    margin-top:5px
}

.nav-bar-mobile .right span:nth-child(1){
    width:20px
}

.nav-bar-mobile .right span:nth-child(2){
    width:25px
}

.nav-bar-mobile .right span:nth-child(3){
    width:40px
}
 .drop{
    background:#240a48;
    color:white;
    width:100%;
    padding: 10px;
    z-index: 999;
    position: relative;
    margin: 0px;
    transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    height: 0px;
    transform-origin: top;
    overflow: hidden;
    top: -7px;
}
.drop.added{
    display:block;
    height:300px;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}
.drop a{
    color: rgb(255 255 255 / 72%);
    line-height: 40px;
    font-weight: 700;
    
}



.banner-a{
    height:200px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('/images/about1.jpg');
    padding:10px;
}
.banner-c{
    height:200px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('/images/contact1.jpg');
    padding:10px;
    background-size: cover;
}
.aboutSvg{
    animation: 0.2s fadeIn infinite;
}
 
.banner-a h4,.banner-c h4{
    font-weight: 900;
    color: white;
    margin: 0px auto;
    margin-top:100px;
    position: relative;
    display: inline-block;
}

.banner-a h4::after,.banner-c h4::after{
    content:'';
    position: absolute;
    bottom: -8px;
    left:0px;
    height:5px;
    width:50%;
    background:#ecba4a;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.details-con{
    margin:10px;
    padding:10px;
    
}

.img-con{
    height: 300px;
}

.img-con img{
    height: -webkit-fill-available;
}

.details-con h1{
    font-weight: 700;
    color: #320177;
}

.details-con h4{
    color:green;
}

.checkout-con{
    padding:10px;
    margin-top:20px !important;
    max-width:500px;
    margin:auto
    
}

.checkout-con .details{
display: block;
width: 100%;
background: #ececf7;
padding: 10px;
margin: 10px 0px;
}
.about-con .section1,.section2,.section3,.section4{
    margin-top:40px
}
.section2 .body,.section3 .body{
  padding:20px
}
.section4{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,00.8)),url(/images/cover/value.jpg);
    background-position: bottom;
    padding:10px;
    text-align: center;
    color:rgba(255,255,255,0.7);

}
.section4 .body{
    width: 50%;
    
}

.section3 ul{
    padding:10px;
    counter-reset: mycounter;
}

.section3 ul li{
    background: white;
    padding: 10px 10px;
    padding-left: 50px;
    box-shadow: 0px 5px 10px #ddd;
    margin: 10px;
    height: 100px;
    position:relative
}
.section3 ul li::after{
    counter-increment: mycounter;
    content: counter(mycounter);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background:#320177;
    position: absolute;
    left: -22px;
    top: 25px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: 700;
    box-shadow: 3px 4px 7px rgba(0,0,0,0.5);
}
.section4 ul{
    padding: 0px;
    margin:0px;
    display: flex;
    flex-wrap: wrap;
}

.section4 .header-1 h4{
   color:white;
   padding:10px;
}

.section4 ul li{
    background: white;
    color: #3e3c3f;
    padding: 10px;
    margin: 8px;
    font-weight: 700;
    border-top-right-radius: 20px;
    border-right: 4px solid #c79f44;
}
.about-con .about{
    padding:10px;

}

.about-con p span{
    font-weight:bolder;
    color:#320177

}

.connect-con{
    margin-top:50px;
}
.connect-con .con-div{
   display:flex;
   padding:10px;

}
.connect-con .con-div div{
    margin-left:20px;
    
 }
.connect-con .con-div i{
    font-size:30px;
    color:#320177
}
.connect-con .social{
    margin-top: 10px;
}
.connect-con .social a{
    font-size: 20px;
    color: grey;
    padding: 10px;
    cursor: pointer;
}


.modal-header{
    background-color: #320177;
    color:white
}

.invoice{
    display:flex;
    padding: 10px;
    background: #f0e6ff;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 5px 4px #ccc;
}

.invoice .download{
    color:#320177;
    font-size: 30px;
    cursor:pointer
}

@media (max-width: 576px) {
    .carousel-inner {
        height: 100%;
    }

    .carousel-caption {
        width: 90%;
        padding-top: 50%;
        margin-left: -40px;
    }
    .carousel-caption h3 {
        font-size: 2em;
    }
    .carousel-caption p {
        font-size: 16px;
    }
    #bg2{
        background-position-x: center !important;
    }
    .carousel-item:nth-child(1){
        background-position-x: center !important;
    }
    .carousel-item:nth-child(2){
        background-position-x: center !important;
    }
    .carousel-item:nth-child(3){
        background-position-x: left !important;
    }

    .page-footer{
        clip-path:none;
        width:100%;
        height:100%;
        line-height: 30px;
        font-size: 14px;
        padding:30px 10px;
    }
    .v-con {
        padding-top: 0px;
    }

    
    .details-con h1{
        font-size: 24px;
        margin-top:20px;
    }

    .details-con h4{
        color:green;
    }
    .section2 .body,.section3 .body{
        padding:10px
        }
    .section4 body{
        width: 100%;
    }
    
    .section4 .body{
        width: 100%;
        
    }
.section4 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section3 ul li{
    padding: 15px 10px;
    padding-left: 40px;
    margin: 10px;
    height: fit-content;
}
.invoice{
    flex-direction: column;
}

}
